<header>
  <mat-form-field appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Word or phrase" [formControl]="searchControl" />
    <mat-error *ngIf="searchControl.errors">{{ errorMessage }}</mat-error>
  </mat-form-field>
  <mat-paginator
    [color]="'primary'"
    [length]="(imageSearchResponse$ | async)?.pagination?.total || 0"
    [pageSize]="(pageSize$ | async) || 0"
    [hidePageSize]="true"
    (page)="onPageChanged($event)"
  ></mat-paginator>
</header>

<app-hero-section *ngIf="errorMessage$ | async as errorMessage" title="Oops, something went wrong" [text]="errorMessage"></app-hero-section>

<ng-container *ngIf="!(errorMessage$ | async)">
  <ng-container *ngIf="imageSearchResponse$ | async as imageSearchResponse; else startSearch">
    <app-image-grid
      *ngIf="imageSearchResponse?.images.length > 0; else emptyResult"
      [images]="imageSearchResponse?.images"
    ></app-image-grid>
  </ng-container>
</ng-container>

<ng-template #emptyResult>
  <app-hero-section [title]="'We failed'" [text]="'Nothing found for your search query :('"></app-hero-section>
</ng-template>

<ng-template #startSearch>
  <app-hero-section title="Let's go!" [text]="'Start your search by typing a word or phrase above'"></app-hero-section>
</ng-template>
