.images {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  picture {
    height: 100%;
    margin: 0.5rem;
  }
}

picture {
  opacity: 1;
  animation: fade 1s ease-in;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
