<app-hero-section [title]="'Please enter Giphy API Key'">
  <mat-card>
    <form [formGroup]="formGroup">
      <mat-form-field appearance="fill">
        <mat-label>API Key</mat-label>
        <input matInput type="text" [formControl]="apiKeyControl" />
        <mat-error *ngIf="apiKeyControl.invalid">API Key is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Rating</mat-label>
        <mat-select [formControl]="ratingControl">
          <mat-option *ngFor="let rating of ratings" [value]="rating">
            {{ rating }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button [color]="'accent'" [disabled]="formGroup.invalid || formGroup.pristine" (click)="saveSettings()">
        Save
      </button>
    </form>
  </mat-card>
</app-hero-section>
